@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");

/* Default Style */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #282c34;
  width: 100vw;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
}

h3,
h4,
h5 {
  font-weight: normal;
}

/* Header Style */

header {
  background-image: url("/src/img/stadium.jpg");
  color: #fff;
  text-align: center;
  background-position: center;
}
header h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.header {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  padding: 40px 0;
}

header img {
  height: 200px;
}

/* Main Part Style */
main {
  max-width: 1200px;
  padding: 20px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.item {
  background-color: #fffff3;
  padding: 15px 5px;
  display: grid;
  grid-gap: 7px;
  border-radius: 5px;
  text-align: center;
}
.explore-btn {
  padding: 6px 20px;
  outline: none;
  font-size: 0.9em;
  border: none;
  background-color: #1ca5b8;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

/* Details Page Style */

.details {
  max-width: 1200px;
  padding: 20px;
  margin: auto;
  color: #fff;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  grid-gap: 50px;
  padding: 20px;
  background-color: #1ca5b8;
  border-radius: 5px;
  margin-bottom: 30px;
}
.card .info {
  display: grid;
  grid-gap: 8px;
}
.league-image {
  height: 200px;
  overflow: hidden;
  border-radius: 20px;
}

.social-link {
  height: 50px;
  text-align: center;
}
.social-link img {
  max-height: 50px;
  margin: 10px;
  cursor: pointer;
}
footer {
  color: #fff;
  text-align: center;
  padding: 10px;
}
footer a {
  color: #1ca5b8;
  text-decoration: none;
}

/* Media Query For Responsiveness */

@media (max-width: 968px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }
  .card {
    grid-template-columns: 1fr;
  }
}
